<div class="container mt-3">
  <h2 class="mb-4">修正リクエスト作成</h2>

  <%= form_with(model: @rule_request) do |f| %>
    <div class="mb-3"> 
      <%= f.label :rule_id, "修正するルール" %>
      <%= f.collection_select :rule_id, @rules, :id, :title, { prompt: "ルールを選択", selected: @selected_rule_id }, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :request_details, "修正内容" %>
      <%= f.text_area :request_details, class: "form-control", placeholder: "修正内容を簡潔に記載してください" %>
    </div>

    <div class="d-flex"> 
      <div class="mr-2"> 
        <%= f.submit "リクエストを送信", class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to '戻る', rule_path(@selected_rule_id), class: 'btn btn-light' if @selected_rule_id.present? %> 
      </div>
    </div>
  <% end %>
</div>
