<div class="container mt-3"> <!-- コンテナで全体にマージンを追加 -->
  <h2 class="mb-4">修正リクエスト作成</h2> <!-- 下にマージンを追加 -->

  <%= form_with(model: @rule_request) do |f| %>
    <div class="mb-3"> <!-- 各フィールドの下にマージンを追加 -->
      <%= f.label :rule_id, "修正するルール" %>
      <%= f.collection_select :rule_id, @rules, :id, :title, { prompt: "ルールを選択" }, class: "form-control" %>
    </div>

    <div class="mb-3"> <!-- 各フィールドの下にマージンを追加 -->
      <%= f.label :request_details, "修正内容" %>
      <%= f.text_area :request_details, class: "form-control" %>
    </div>

    <div class="d-flex"> <!-- ボタンをくっつけるためのクラス -->
      <div class="mr-2"> <!-- 右側にマージンを追加 -->
        <%= f.submit "リクエストを送信", class: "btn btn-primary" %>
      </div>
      <div>
        <%= link_to '戻る', rules_path, class: 'btn btn-light' %> <!-- 戻るボタン -->
      </div>
    </div>
  <% end %>
</div>
