<h1 class="text-center mb-4" style="font-family: 'M PLUS 1p', sans-serif; font-size: 3rem;">Rules</h1>

<div class="container">
  <div class="row">
    <% if @rules.any? %> <!-- ルールが存在する場合 -->
      <% @rules.each do |rule| %>
        <div class="col-12 mb-3"> <!-- 1列の幅を100%に設定 -->
          <div class="card h-100"> <!-- カードの高さを100%に -->
            <div class="card-body">
              <h2 class="card-title" style="font-family: 'M PLUS 1p', sans-serif; font-size: 2rem; color: #333;"><%= rule.title %></h2>
              <p class="card-text"><strong>Created at:</strong> <%= rule.created_at.strftime("%Y-%m-%d %H:%M") %></p> <!-- 開始日を表示 -->
            </div>
            <div class="card-footer">
              <div class="rule-actions">
                <%= link_to t('rules.show'), rule, class: 'btn btn-info' %>
                
                <% unless current_user.general? %>
                  <%= link_to t('rules.edit'), edit_rule_path(rule), class: 'btn btn-warning' %>
                  <%= link_to t('rules.destroy'), rule, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %> <!-- ルールがない場合 -->
      <p class="text-muted">現在、表示するルールはありません。</p>
    <% end %>
  </div>
</div>
