<p id="notice"><%= notice %></p>

<div class="text-center mb-4">
  <h1 class="display-4"><%= @rule.title.upcase %></h1> <!-- タイトルを大文字で表示 -->
</div>

<p class="small text-muted">施行日: <%= @rule.created_at.strftime('%Y年%m月%d日') %></p> <!-- 施行日を左端に表示 -->

<div class="mb-4 mx-3">
<strong class="d-block mb-2">Details:</strong> <!-- タイトルを枠外左上に表示 -->
  <div class="border rounded p-3"> <!-- 詳細用の角が丸い枠 -->
    <p><%= @rule.details %></p>
  </div>
</div>

<div class="mb-4 mx-3">
<strong class="d-block mb-2">Background:</strong> <!-- タイトルを枠外左上に表示 -->
  <div class="border rounded p-3"> <!-- 背景用の角が丸い枠 -->
    <p><%= @rule.background %></p>
  </div>
</div>

<div class="mb-4">
  <% if current_user.admin? || current_user.leader? %>
    <%= link_to 'Delete', @rule, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '修正リクエスト', new_rule_request_path, class: 'btn btn-info' %> <!-- 薄青のボタン -->
  <% end %>
  
  <%= link_to 'Back', rules_path(team_name_id: @rule.team_name_id), class: 'btn btn-light ms-2' %> <!-- 白ボタン -->
</div>
