<!DOCTYPE html>
<html>
<head>
    <title>DEVRuleMaster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', as: 'script' %>

    <style>
        html, body {
            height: 100%; // Ensure full height
        }

        body {
            display: flex;
            flex-direction: column;
        }

        main {
            flex-grow: 1; // Make the main area flexible to take up available space
        }

        footer {
            background-color: #f8f9fa; // Optional: adjust color
            text-align: center;
            padding: 1rem 0; // Set top and bottom padding
            position: relative; // Changed to relative
            margin-top: auto; // Push footer to the bottom
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <%= render 'shared/header' %>

    <!-- フラッシュメッセージの表示 -->
    <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>"><%= message %></div>
    <% end %>

    <main class="flex-grow-1">
        <%= yield %>
    </main>

    <%= render 'shared/footer' %>
</body>
</html>
